# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Logs
*.log
